fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
python-dotenv
ccxt>=4.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
email-validator==2.1.0.post1
passlib[bcrypt]
bcrypt>=4.0.0,<5.0.0
